<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Web-20171207111959.mdf;Initial Catalog=aspnet-Web-20171207111959;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DBEntities" connectionString="metadata=res://*/Entities.Entities.csdl|res://*/Entities.Entities.ssdl|res://*/Entities.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4HF128F\DUYNNSQL;initial catalog=VANBAN_QUANGTRI;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--<add key="ACCOUNT_MAIL" value="k5cda01.ltluan@aptech.vn" />-->
    <add key="ACCOUNT_MAIL" value="vanphongtinhuy@tinhuyquangtri.vn" />
    <!--<add key="PASS_MAIL" value="hanoi-aptech" />-->
    <add key="PASS_MAIL" value="ty@123456" />
    <add key="ImportNguoiDungTemplate" value="TemplateExcel/TemplateImportNguoiDung.xlsx"/>
    <add key="ImportCCTCTemplate" value="TemplateExcel/TemplateCCTCImport.xlsx" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HostUpload" value="http://localhost:8353/Uploads" />
    <add key="DEPTTYLELABEL" value="10" />
    <add key="ROLE_LANHDAODONVI" value="1004" />
    <add key="SERVERADDRESS" value="http://localhost:8353" />
    <add key="CODE_PHONGHOP" value="DMPHONGHOP" />
    <add key="CODE_ROLE_LANHDAODONVI" value="BANTONGGIAMDOC" />
    <add key="CODE_ROLE_BANTONGGIAMDOC" value="BANTONGGIAMDOC" />
    <add key="CODE_ROLE_THUHOIVANBAN" value="THUHOIVANBAN" />
    <add key="SITENAME" value="ĐẢNG BỘ TỈNH QUẢNG TRỊ" />
    <add key="SITESOFT" value="Phần mềm quản lý văn bản chỉ đạo điều hành" />
    <add key="temple_CanhCao_VB" value="EmailTemplate/CanhBaoEmail.html" />
    <add key="LichCongTacEmailTemplate" value="EmailTemplate/LichCongTacEmail.html"/>
    <add key="PROGRAMECMD" value="C:\Program Files (x86)\ABBYY FineReader 12\FineCmd.exe" />
    <add key="ENABLECHUKYSO" value="1" />
    <add key="CHUKYSO" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads\ChuKySo\mycert.pfx" />
    <add key="PASSCHUKYSO" value="123456" />
    <!--Upload-->
    <add key="UPLOADFOLDER" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads" />
    <!--End-->
    <add key="MaxPerpage" value="20" />
    <!--E-File-->
    <add key="FileUpload" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads" />
    <add key="FileUploadTrash" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads\Trash" />
    <add key="FILEMAXSIZE" value="50971520" />
    <add key="FILEEXTENSION" value=".jpg,.pdf,.png,.doc,.rar,.xlsx,.docx,.mp3,.wmv,.ppt,.zip,.jpeg,.mp4,.doc,.html,.pps,.pptx,.xls,.7z,.zip,.pot" />
    <add key="URLNAVIGATION" value="http://localhost:8353" />
    <!--End-->
    <!--Danh mục dùng chung icon-->
    <add key="MstDivisionExtension" value=".jpg,.png,.jpeg,.gif,.tiff,.bmp" />
    <add key="MstDivisionSize" value="3" />
    <!--End-->
    <!--Công việc-->
    <add key="CongViecExtension" value=".jpg,.pdf,.png,.doc,.rar,.xlsx,.docx,.mp3,.wmv,.ppt,.zip,.jpeg,.mp4,.doc,.html,.pps,.pptx,.xls,.7z,.zip,.pot" />
    <add key="CongViecSize" value="50" />
    <!--End-->
    <!--Văn bản phát hành-->
    <add key="VbDenExtension" value=".jpg,.pdf,.png,.doc,.rar,.xlsx,.docx,.mp3,.wmv,.ppt,.zip,.jpeg,.mp4,.doc,.html,.pps,.pptx,.xls,.7z,.zip,.pot" />
    <add key="VbDenSize" value="50" />
    <!--End-->
    <!--Begin - Template import Excel-->
    <add key="ImportDanhMucTemplate" value="TemplateExcel/TemplateImportDanhMuc.xlsx" />
    <!--End - Template import Excel-->
    <!--Begin - Khai báo server elasticsearch-->
    <add key="EnableElasticServer" value="0" />
    <add key="ElasticServer" value="http://192.168.1.24:9200/" />
    <!--End - Khai báo server elasticsearch-->
    <!--Begin - Mẫu báo cáo vận chuyển-->
    <add key="BieuMauBaoCaoVanChuyen" value="TemplateExcel\MauBaoCaoVanChuyen.xlsx"/>
    <!--End - Mẫu báo cáo vận chuyển-->

    <!--Begin - Mẫu báo cáo văn bản đến theo loại-->
    <add key="BieuMauBaoCaoVanBanDenTheoLoai" value="TemplateExcel\BaoCaoLoaiVanBan.xlsx"/>
    <!--End - Mẫu báo cáo vận chuyển-->

    <!--Begin - Mẫu báo cáo văn bản đến theo lĩnh vực-->
    <add key="BieuMauBaoCaoVanBanDenTheoLinhVuc" value="TemplateExcel\BaoCaoLinhVucVanBan.xlsx"/>
    <!--End - Mẫu báo cáo vận chuyển-->

    <!--Begin - Mẫu báo cáo văn bản đi theo loại-->
    <add key="BieuMauBaoCaoVanBanDiTheoHinhThuc" value="TemplateExcel\BaoCaoLoaiVanBan.xlsx"/>
    <!--End - Mẫu báo cáo vận chuyển-->

    <!--Begin - Mẫu báo cáo văn bản đến theo lĩnh vực-->
    <add key="BieuMauBaoCaoVanBanDiTheoLinhVuc" value="TemplateExcel\BaoCaoLinhVucVanBan.xlsx" />
    <!--End - Mẫu báo cáo vận chuyển-->

    <!--Begin - Thư mục lưu tạm những file upload-->
    <add key="TempUploadFolderPath" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads\Temp"/>
    <!--End - Thư mục lưu tạm những file upload-->

    <!--Begin - Thư mục lưu tạm những file upload-->
    <add key="TempUploadWordFolderPath" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads\Output\Word" />
    <!--End - Thư mục lưu tạm những file upload-->

    <!--Begin Thư mục lưu tạm file kết xuất excel-->
    <add key="TempUploadExcelFolderPath" value="E:\DuAnCongTy\2018\Tỉnh Ủy Quảng Trị\vanban_quangtri\Source\Web\Uploads\Output\Excel"/>
    <!--End-->
    <!--Mã vai trò chia sẻ tài liệu-->
    <add key="RoleShare" value="CHIASETAILIEU"/>
    <add key="VANBAN_FileAllowUpload" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="VANBAN_MaxSizeUpload" value="20971520" />
  </appSettings>
  <system.web>
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1048576" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>