@using Web.Areas.DMNguoiDungArea.Models;
@model phanVaiTroVM
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">Phân vai trò - @Model.NguoiDung.HOTEN</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        @Html.DropDownList("vaitro", Model.DsVaiTro, new { @class = " txt-select2", @style="width:100%", @multiple="multiple"})
                        <div class="note-error">
                            <span class="error mes-note-error"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer center">
            <button type="button" class="btn btn-primary" onclick="saveVaiTro()">Hoàn thành</button>

            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>

</div>

<script>

    var saveVaiTro = function () {
        var listVaiTro = $("#vaitro").val();
        $.ajax({
            url: '/dmvaitroarea/dmvaitro/SaveNguoiDungVaiTro',
            type: 'post',
            data:JSON.stringify({'idNguoiDung': @Model.NguoiDung.ID,'listVaiTro':listVaiTro}),
            dataType:"json",
            contentType:"application/json",
            success:successAjaxVaiTro,
            error: function () {
                NotiError("Không thực hiện được thao tác");
            }
        })
        
    }

    $(".txt-picker").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true, yearRange: "-50:+20",
        showWeek: false, weekHeader: "Tuần",
        language: 'vi',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onSelect: function (date) {

        }
    });
    function successAjaxVaiTro(rs) {
        if (rs.Status) {
            $("#modal_vaitro").modal("hide");
            $("#modal_vaitro").empty();
            NotiSuccess("Cập nhật thành công");
            reloadPage();
        } else {
            NotiError(rs.Message);
        }
    }

   
    var pagePhanQuyenfunction = function () {
        $(".txt-select2").select2();
    }
    $(document).ready(function () {
        loadScript("/js/plugin/select2/select2.min.js", pagePhanQuyenfunction);

    });
</script>
