@using Web.Areas.QL_LAIXEArea.Models;
@model LaiXeBenhVienIndexViewModel
<style>
    .row-block {
        margin: 5px 0px;
    }

    .txt-label {
        padding-top: 7px;
    }

    .width100 {
        width: 100% !important;
    }

    .select2 {
        width: 100%;
    }
</style>
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well">
        @using (Ajax.BeginForm("SearchData", "QL_LAIXE", new { @area = "QL_LAIXEArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "searchFailure",
                OnSuccess = "searchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
            <div class="row row-block">

                <div class="col-md-12">
                    <div class="col-md-2 txt-label" for="HOTEN">Họ tên:</div>
                    <div class="col-md-4">
                        <input name="HOTEN" class="form-control" id="HOTEN" />
                    </div>
                    <div class="col-md-2 txt-label" for="GIOITINH">Giới tính:</div>
                    <div class="col-md-4">
                        <select name="GIOITINH" id="GIOITINH" class="select2">
                            <option value="">--- Chọn giới tính ---</option>
                            <option value="true">Nam</option>
                            <option value="false">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <div class="col-md-2 txt-label" for="CMND">Số CMND:</div>
                    <div class="col-md-4">
                        <input name="CMND" class="form-control" id="CMND" />
                    </div>

                    <div class="col-md-2 txt-label" for="SODIENTHOAI">Điện thoại</div>
                    <div class="col-md-4">
                        <input name="SODIENTHOAI" class="form-control" id="SODIENTHOAI" />
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12">
                    <div class="col-md-2 txt-label" for="EMAIL">Email:</div>
                    <div class="col-md-4">
                        <input name="EMAIL" class="form-control" id="EMAIL" />
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12 center" style=" margin-top:20px;">
                    <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        Tìm kiếm
                    </button>
                    <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                        Đóng
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $("#btnSearch").click(function () {
        $(".hinet-table tbody").html("");
        $(".hinet-table tfoot").html("");
        return true;
    });
    function searchFailure(data) {
        console.log(data);
    }
    function searchSuccess(rs) {
        $("#tbl-laixebenhvien").hinetTable("data", {
            pageIndex: 1,
            pagecount: rs.TotalPage,
            recordCount: rs.Count,
            listItem: rs.ListItem,
        });
    }
    function pageFunctionSearch() {
        $("#collapseDiv .select2").select2();
    }

    $(document).ready(function () {
        loadScript("/Scripts/autoNumeric.min.js", function () {
            loadScript("/js/plugin/select2/select2.min.js", function () {
                loadScript("/Scripts/jquery.unobtrusive-ajax.min.js", pageFunctionSearch)
            });
        });
    })
</script>
