@using Business.CommonBusiness;
@model UserInfoBO
@*@using (Ajax.BeginForm("SaveChangePassword", "Common", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnFailure = "failure",
    OnSuccess = "changeSuccess",
}, new { id = "frmChangePassword", enctype= "multipart/form-data" }))
{*@
<form action="/Common/SaveChangePassword" method="post" enctype="multipart/form-data" id="frmChangePassword">
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="width:480px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thay đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Mật khẩu cũ: <span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" autocomplete="off" name="Password" id="Password" />
                            <div class="note-error">
                                <span class="error" id="Password_ERROR"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Mật khẩu mới: <span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control validatePassword" autocomplete="off" name="NewPassword" id="NewPassword" />
                            <div class="note-error">
                                <span class="error" id="NewPassword_ERROR"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Nhập lại mật khẩu: <span class="red">*</span></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="password" class="form-control validatePassword" autocomplete="off" name="RePassword" id="RePassword" />
                            <div class="note-error">
                                <span class="error" id="RePassword_ERROR"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Email: </label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" name="Email" id="Email" value="@Model.EMAIL" />
                            <div class="note-error">
                                <span class="error" id="Email_ERROR"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="up-avatar">
                            <div class="col-sm-4">
                                <label>Chữ ký</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="photo">
                                    <a href="">
                                        @if (!string.IsNullOrEmpty(Model.signpath))
                                        {
                                            <img id="imgAvatar" class="img-thumbnail" src="~/@Model.signpath">

                                        }
                                        else
                                        {

                                            <img id="imgAvatar" src="/Content/images/avatar_default.png" alt="..." />
                                        }
                                    </a>
                                    <span class="file-input btn-file">
                                        Thay đổi<input type="file" multiple name="AVATAR" id="AVATAR">

                                    </span><br>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Lưu lại" id="btnChangePassword" class="btn btn-success" />
                <button class="close-modal btn btn-default" type="button" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</form>
@*}*@
<script>
    function changeSuccess(data) {
        if (data.Type == "SUCCESS") {
            NotiSuccess(data.Message);
            $("#modal_changeprofile").empty();
            $("#modal_changeprofile").modal("hide");
        } else {
            NotiError(data.Message);
            var length = data.Error.length;
            for (var i = 0; i < length; i++) {
                console.log(data.Error[i].Field);
                $("#frmChangePassword #" + data.Error[i].Field + "_ERROR").html(data.Error[i].Message);
            }
        }
    }
    $(document).ready(function () {
        loadScript("/Scripts/jquery.unobtrusive-ajax.js", function () {
        });
    });

    $("#btnChangePassword").click(function () {
        var password = $("#frmChangePassword #Password").val().trim();
        var newPassword = $("#frmChangePassword #NewPassword").val().trim();
        var rePassword = $("#frmChangePassword #RePassword").val().trim();
        var email = $("#frmChangePassword #Email").val().trim();
        var error = 0;
        if (password != "" || email == "") {
            if (password == "") {
                error++;
                $("#Password_ERROR").html("Bạn chưa nhập mật khẩu cũ");
            } else {
                $("#Password_ERROR").html("");
            }
            if (newPassword == "") {
                error++;
                $("#NewPassword_ERROR").html("Bạn chưa nhập mật khẩu mới");
            } else {
                $("#NewPassword_ERROR").html("");
            }
            if (rePassword == "") {
                error++;
                $("#RePassword_ERROR").html("Bạn chưa nhập lại mật khẩu");
            } else {
                $("#RePassword_ERROR").html("");
            }
            if (newPassword != rePassword) {
                error++;
                $("#RePassword_ERROR").html("Mật khẩu không trùng khớp");
            } else {
                $("#RePassword_ERROR").html("");
            }
            if (error == 0 && !ValidateFieldPassword("frmChangePassword")) {
                error++;
            }
        }
        if (email != "" && !isEmail(email)) {
            error++;
            $("#Email_ERROR").html("Email không đúng định dạng");
        }

        return error == 0;
    });
</script>
<style>
    .error {
        color: red;
    }

    .up-avatar {
        margin-bottom: 20px;
    }

        .up-avatar .control-label {
            float: left;
            padding-left: 15px;
            padding-right: 13px;
            position: relative;
            text-align: right;
            width: 16.66665%;
            color: #666;
        }

    .photo {
        float: left;
        padding: 0 10px;
        position: relative;
    }

    .up-avatar .photo {
        padding-left: 7px;
    }

    .photo img, .list-profile-ad .view-verify .pull-left img {
        height: 60px;
        width: 60px;
    }

    .photo > a {
        float: left;
    }

    .btn-file {
        background: none repeat scroll 0 0 #eff4f7;
        border: 1px solid #e2ebf0;
        border-radius: 2px;
        color: #6a7074;
        float: left;
        margin-left: 15px;
        margin-top: 12px;
        overflow: hidden;
        padding: 6px 15px;
        position: relative;
        white-space: nowrap;
        width: 115px;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 999px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
            height: 28px;
            width: 116px;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }

    .photo .btn-file {
        top: -10px;
    }

    .size {
        bottom: 5px;
        color: #666;
        font-size: 12px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 130px;
    }
</style>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgAvatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#AVATAR").change(function () {
        readURL(this);
    });
</script>