@using Web.Models;
@model RecipientDocViewModel
@{

}
<style>
    .row-block {
        margin: 5px 0px;
    }
</style>


<div class="modal-dialog" id="modal--recipient-doc" style="width:1000px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="center">
                <h4 class="modal-title">
                    DANH SÁCH NGƯỜI NHẬN VĂN BẢN
                </h4>
            </div>
        </div>

        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:0">
                    <fieldset class="col-md-6">
                        <legend style="margin:0">Tìm kiếm</legend>

                        <!--Phần tìm kiếm-->
                        <div class="well">
                            <div class="row row-block">
                                <label class="col-sm-4 control-label" for="RECIPIENT_HOTEN">
                                    Họ tên
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="RECIPIENT_HOTEN" id="RECIPIENT_HOTEN" />
                                </div>
                            </div>

                            <div class="row row-block">
                                <label class="col-sm-4 control-label" for="RECIPIENT_GROUP">
                                    Nhóm người nhận
                                </label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("RECIPIENT_GROUP", Model.GroupRecipients, "--- Chọn ---", new { @class = "txt-select2", style = "width:100%" })
                                </div>
                            </div>

                            <div class="row row-block">
                                <center>
                                    <button id="btnSearch" type="button" class="btn btn-sm btn-labeled btn-primary" onclick="onSearchRecipient()">
                                        <span class="btn-label">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                        Tìm kiếm
                                    </button>
                                </center>
                            </div>

                        </div>
                        <!--Phần kết quả tìm kiếm-->
                        <div id="modal--recipients-search-result">
                        </div>
                    </fieldset>

                    <fieldset class="col-md-6">
                        <legend style="margin:0">Danh sách người nhận</legend>
                        <table class="table table-bordered table-condensed" id="modal--recipients-chosen-users">
                            <thead>
                                <tr>
                                    <th>Họ tên</th>
                                    <th>Phòng ban</th>
                                    <th>Chức vụ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </fieldset>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        @if (Model.IsSendOthers == true && Model.EntityVanBanDi != null)
        {
            <input type="hidden" id="SEND_OTHER_VANBANDI_ID" name="SEND_OTHER_VANBANDI_ID" value="@Model.EntityVanBanDi.ID" />
        }

            <div class="modal-footer">
                @if (Model.IsSendOthers == true && Model.EntityVanBanDi != null)
                {
                    <button class="btn btn-primary" type="button" onclick="onSendOtherRecipients()">
                        <i class="fa fa-check"></i>&nbsp;Cập nhật
                    </button>
                }
                else
                {
                    <button class="btn btn-primary" type="button" onclick="onChooseRecipients()">
                        <i class="fa fa-check"></i>&nbsp;Cập nhật
                    </button>
                }
            </div>
    </div>
</div>
<script>
    /**
     * cài đặt plugin
     */
    loadScript("/js/plugin/select2/select2.min.js", function () {
        $("#modal--recipients .txt-select2").select2();
    });

    function onSearchRecipient() {
        var callBack = function (result) {
            $('#modal--recipients-search-result').html(result);
        }
        var data = {
            RECIPIENT_HOTEN: $('#RECIPIENT_HOTEN').val(),
            RECIPIENT_GROUP: $('#RECIPIENT_GROUP').val()
        }
        AjaxCall('/Common/SearchRecipientOfDocument', 'post', data, callBack)
    }


    /**
     * chọn người nhận văn bản đích danh để hiển thị trên màn hình cập nhật văn bản đi
     * */
    function onChooseRecipients() {
        var choosen = [];
        var recipients = $("#modal--recipients-chosen-users input[type=hidden]");
        var isPublish = $('#block--recipients').data('publish') == '1';

        var html = '';
        if (recipients.length > 0) {
            for (var i = 0; i < recipients.length; i++) {
                var value = $(recipients[i]).val();
                if (choosen.indexOf(value) == -1) {
                    choosen.push(value);
                    html += '<tr>';
                    html += '<td>';
                    html += '<input type="hidden" name="USERS_RECEIVE_SPECIAL" value="' + value + '"/>'
                    html += $(recipients[i]).data('hoten');
                    html += '</td>';
                    html += '</tr>';
                }
            }
        }
        if (!isPublish) {
            html = '<table class="table table-bordered"><thead><tr><th>NGƯỜI NHẬN ĐÍCH DANH</th></tr></thead><tbody>' + html + '</tbody></table>';
            $("#block--recipients").html(html);
        } else {
            $("#block--recipients .table tbody").html(html);
        }
        $('#modal--recipients').modal('hide');
    }


    /**
     * gửi cá nhân khác
     **/
    function onSendOtherRecipients() {
        var callBack = function (result) {
            if (result.Status) {
                NotiSuccess('Gửi cá nhân khác thành công');
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        }

        var recipients = [];

        $('input[type=hidden][name=CHOSEN_RECIPIENT]').each(function () {
            recipients.push($(this).val());
        })

        var data = {
            VANBANDI_ID: $('#SEND_OTHER_VANBANDI_ID').val(),
            USERS_RECEIVE_SPECIAL: recipients.join()
        }
        AjaxCall('/HSVanBanDiArea/HSVanBanDi/SendVanBanPhatHanhToCaNhan', 'post', data, callBack)
    }
</script>